{% extends 'base.html' %} {% block content %}
<div class="form-2">
  <form action="/manufs/{{manuf.id}}" method="post">
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="{{manuf.name}}"
        required
      />
    </div>

    <div>
      <label for="info">Info:</label>
      <input
        type="text"
        id="info"
        name="info"
        value="{{manuf.info}}"
        required
        autofocus
      />
    </div>

    <div id="button-2">
      <button  type="submit">Update Manufactory</button>
    </div>
  </form>
</div>
{% endblock %}
