{% extends 'base.html' %} {% block content %}
<section class="delete-manuf">
  {% for manuf in all_manufs %}
  <table id="talbe-2">
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th>Action</th>
    </tr>
    <tr>
      <td><a href="/manufs/{{manuf.id}}">{{manuf.name}}</a></td>
      <td><div class="name">{{manuf.info}}</div></td>
      <td>
        <div class="buttons">
          <form
            class="delete-form"
            action="/manufs/{{manuf.id}}/delete"
            method="POST"
          >
            <button class="trash-button">Delete</button>
          </form>
        </div>
      </td>
    </tr>
  </table>

  {% endfor %}
</section>
{% endblock %}
