{% extends 'base.html' %}
{% block content %}

<form action="/products/{{product.id}}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{product.name}}" required>
  </div>

  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{product.description}}" required autofocus>
  </div>

  <div>
    <label for="completed">Publisher:</label>
    <input type="text" id="publisher" name="publisher" value="{{book.publisher}}" required autofocus>
  </div>

  <div>
    <label for="author">Author:</label>
    <select id="author" name="author_id">
      {% for author in all_authors %}
        <option value="{{ author.id }}"
          {% if book.author.id == author.id %} selected="selected"{% endif %}>
          {{ author.full_name() }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Update Book</button>

</form>

{% endblock %}