{% extends 'base.html' %}
{% block content %}

<form action="/products/{{product.id}}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{product.name}}" required>
  </div>

  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{product.description}}" required autofocus>
  </div>
  <div>
      <label for="stock_quantity">Stock_quantity:</label>
      <input type="text" id="stock_quantity" name="stock_quantity" value="{{product.stock_quantity}}" required autofocus>
    </div>
    <div>
        <label for="cost">Cost:</label>
        <input type="text" id="cost" name="cost" value="{{product.cost}}" required autofocus>
    </div>
    <div>
      <label for="selling_price">Selling_price:</label>
      <input type="text" id="selling_price" name="selling_price" value="{{product.selling_price}}" required autofocus>
    </div>
    <div>
      <label for="mark_up">Mark_up:</label>
      <input type="text" id="mark_up" name="mark_up" value="{{product.mark_up}}" required autofocus>
    </div>



  <div>
    <label for="manuf">Manufactory:</label>
    <select id="manuf" name="manuf_id">
      {% for manuf in all_manufs %}
        <option value="{{ manuf.id }}"
          {% if product.manuf.id == manuf.id %} selected="selected"{% endif %}>
          {{ manuf.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Update Product</button>

</form>

{% endblock %}