{% extends 'base.html' %}

{% block content %}
    
<h1>Products List1 </h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium quibusdam quasi dicta, culpa est natus earum similique dolores expedita nemo.
    <br>
    <br>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea corrupti laudantium ullam omnis rem, exercitationem asperiores corporis fugiat consequuntur deserunt ad? Mollitia sed nesciunt, ab laboriosam laudantium officiis alias fugit.</p>
</p>

<hr>



{% endblock %}
