/* add new product */
.container-1 {
  width: 50vw;
  margin: 0 auto;
}

.submit-form {
  align-items: center;
  justify-content: center;
}

.submit-form label {
  display: block;
}

.submit-form input{
  width: 450px;
}


