* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: darkkhaki;
}

/* #home-image {
  width:100vw;
  height:50vh;
  background-color: dimgray;
} */

header {
  padding: 45px 45px;
  height: 30vh;
  background-color: rgb(131, 122, 111);
}


nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* .main {
  width: 100%;
  height: 50vh;
  background-color: darkkhaki;
} */

/* nav */

ul li {
  display: inline-flex;
  list-style-type: none;
  margin: 20px 30px;
}
ul li a {
  text-decoration: aqua;
  text-shadow: 3px 3px 3px rgb(59, 42, 45);
  text-transform: capitalize;
  letter-spacing: 2px;
  color: cornflowerblue;
}

/* table------------ */
.content {
  display: flex;
  align-items: center;
  text-align: center;
justify-content: center;
}
.name{
  height: 6vh;
}

th{
  box-shadow: 0 5px 10px lightblue;
}
td {
  
  box-shadow: 0 5px 10px lightblue;
  color: rgb(143, 107, 31);
}
table {

  width: 60vw;
  height: 30px;
  border-collapse: collapse;
  box-shadow: 0 5px 10px lightblue;
  background-color: white;
  text-align: left;
  overflow: hidden;
  /* margin: 0 auto;
  border-spacing: 0; */
}
