* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


header{


    height:200px;
    background-color: burlywood;
}
nav {
    display: flex;
     flex-direction: row;
    justify-content: center;
    /* align-content: stretch; */
    text-align: justify;

}
.main{

    background-color:darkkhaki;
}

li {
    list-style: none;
    padding: 10px;

}