* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
html,body{
    background-color: darkkhaki; 
    height:100%;
    overflow:hidden;
}



header{
    padding: 45px 45px;

    height:200px;
    background-color: burlywood;
}
nav ul {
    display: flex;
     flex-direction: row;
    justify-content: center;



}
.main{
    background-color:darkkhaki;
}

ul li {

    list-style-type: none;
    margin: 20px 30px;
}
ul li a{
    text-decoration: aqua;
    text-shadow: 3px 3px 3px pink;
    text-transform: capitalize;
    letter-spacing: 2px;
    color:cornflowerblue;



}
table, th, td {
  border: 3px solid darkslategray;
  color:darkgoldenrod;
}