<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Shop Inventory</title>
  </head>
  <body>
    <header>
      <h1>Shop Inventory Admin</h1>
      <nav>
        <ul>
          <li><a href="/products">Products List</a></li>
          <li><a href="/products/new_product">Add new product</a></li>

          <li><a href="/manufs/index.html">Manufactory List</a></li>
          <li><a href="#">Add Manufactory</a></li>
        </ul>
      </nav>
    </header>
    <hr />

    <main>
      <section class="main">
        <h1>About</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
          consectetur cupiditate nisi nulla, officia iusto, eaque praesentium
          quae eveniet, qui consequuntur recusandae nemo dolores modi totam
          enim? Cum sint libero inventore molestiae eveniet aliquam voluptates
          provident sit, ex atque sapiente.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt cumque
          quis, aut natus quasi facere. Quis, laborum, dolorem laudantium nisi
          error maiores aperiam atque cum officia vel illo itaque earum?
        </p>
        {% block home %} {% endblock %}
      </section>
      <hr />
      {% block content %} {% endblock %}
    </main>

    <footer>
      <h1>footer</h1>
    </footer>
  </body>
</html>
